*{
    box-sizing: border-box;
    
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
   /*  padding: 10px; */
}

h2 { 
    text-align: center;
}
.container{
    background-color: rgb(203, 231, 232);
    padding: 10px;
    width: 350px;
   /*  height: 350px; */
    max-width: 100%;
}

.container-resultado {
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 12px 10px;
    height: 50px;
    width: 100%;
}

.btn {
    border: none;
    background-color: #25252c;
    color: #fff;
    font-size: 16px;
    padding: 8px 12px;
    cursor: pointer;
   /*  margin-top: 180px; */
    margin-top: 10px;
}
  
.btn-completo {
    display: block;
    width: 100%;
}

input {
    font-size: 18px;
    letter-spacing: 1px;
    padding: 12px 10px;
    height: 50px;
    width: 100%;
}
